@model IEnumerable<AHA_Web.Models.StudentAttendence>
@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Nav tabs -->
<ul class="nav nav-tabs md-pills pills-ins tabs-3" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab"> Student</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel2" role="tab"> Volunteer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel3" role="tab"> Board Member</a>
    </li>
</ul>

<!-- Tab panels -->
<div class="tab-content">

    <!--Panel 1-->
    <div class="tab-pane fade in active" id="panel1" role="tabpanel">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student.First_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sign_in_Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sign_Out_Time)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.First_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sign_in_Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sign_Out_Time)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>
    </div>
    <!--/.Panel 1-->
    <!--Panel 2-->
    <div class="tab-pane fade" id="panel2" role="tabpanel">
        <br>



    </div>
    <!--/.Panel 2-->
    <!--Panel 3-->
    <div class="tab-pane fade" id="panel3" role="tabpanel">
        <br>


    </div>
    <!--/.Panel 3-->

</div>
