@model AHA_Web.Models.DonorsAttendence

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DonorsAttendence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Donor.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donor.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sign_In_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sign_In_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sign_Out_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sign_Out_Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
