@model IEnumerable<AHA_Web.Models.Grant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grantor.Organization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grant_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grant_Due_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grant_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grant_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grant_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Grantor.Organization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grant_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grant_Due_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grant_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grant_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grant_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Grant_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Grant_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Grant_ID })
        </td>
    </tr>
}

</table>
