@model AHA_Web.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_UserPortalLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit user permissions for @Html.DisplayTextFor(modelItem=>modelItem.Email):</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model=>model.FirstName)
        @Html.HiddenFor(model=>model.LastName)
        @Html.HiddenFor(model=>model.BirthDate)
        @Html.HiddenFor(model=>model.Email)
        @Html.HiddenFor(model=>model.EmailConfirmed)
        @Html.HiddenFor(model=>model.PasswordHash)
        @Html.HiddenFor(model=>model.SecurityStamp)
        @Html.HiddenFor(model=>model.PhoneNumber)
        @Html.HiddenFor(model=>model.PhoneNumberConfirmed)
        @Html.HiddenFor(model=>model.TwoFactorEnabled)
        @Html.HiddenFor(model=>model.LockoutEndDateUtc)
        @Html.HiddenFor(model=>model.LockoutEnabled)
        @Html.HiddenFor(model=>model.AccessFailedCount)
        @Html.HiddenFor(model=>model.UserName)
        <div class="form-group">
            @Html.LabelFor(model => model.AccountType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AccountType, new SelectList(ViewBag.AccountType, "Text", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
