<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Adelante Hispanic Achievers</title>
    @Styles.Render("~/Content/mdb")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!-- Nav Stuff-->
    <div class="navbar navbar-inverse navbar-fixed-top scrolling-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav header-link">


                    <li>@Html.ActionLink("Adelante", "Index", "Home", new { area = "" }, new { @class = "navbar-brand image-fluid" })</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Involved <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Volunteer", "GetInvolved", "Home")</li>
                            <li>@Html.ActionLink("Sponsors & Partners", "Sponsors", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Student of the Month", "StudentOfMonth", "Home")</li>
                            <li>@Html.ActionLink("Programs", "Programs", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Events", "Calendar", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <!-- End nav stuff-->
    @if (IsSectionDefined("pageMask2"))
    {
        @RenderSection("pageMask2")
    }
    <!--Mask, not for all pages-->
    @if (IsSectionDefined("pageMask"))
    {
        <div class="container">
            @RenderSection("pageMask")

            @RenderBody()
        </div>
    }
    else
    {
        <div class="container">
            @RenderBody()
        </div>
    }
    <!--/.Mask-->

    <!-- Main Body content, bear in mind that your content is in a nice shiny container already-->

    <!--Footer-->
    <footer class="page-footer">

        <!--Footer Links-->
        <div class="container">
            <div class="row">

                <!--First column-->
                <div class="col-md-6">
                    <h4 class="title">Adelante Privacy Policy</h4>
                    <p>
                        Adelante respects your privacy. We collect no information about you unless you
                        choose to provide that information to us. We do not give, share, sell or transfer any personal
                        information about you to any third parties. To prevent unauthorized access, maintain accuracy,
                        and ensure the correct use of information, we have put in place appropriate physical, electronic,
                        and administrative procedures to safeguard and secure any information that we collect.
                    </p>
                    <a class="btn btn-danger" href="@Url.Action("PrivacyPolicy", "Home")">Full Privacy Policy</a>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-3">
                    <h4 class="title">Non-profit Info</h4>
                    <p>Adelante Hispanic Achievers, Inc. is a 501 (c) 3 non-profit organization based at Buechel United Methodist Church, 2817 Hikes Lane, Louisville, Kentucky, 40218.</p>
                    <a class="btn btn-danger" href="~/Files/2014 990 Adelante Hispanic Achievers.pdf">990 Tax Exemption Form</a>
                </div>
                <!--/.Second column-->

                <!--Third column-->
                <div class="col-md-3">
                    <h4 class="title">Find Us</h4>
                    <div id="map" style="width:300px; height:180px;"></div>
                    <!-- Map stuff -->
                </div>
                <!--/.Third column-->
            </div>
        </div>
        <!--/.Footer Links-->
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2016 Copyright: Adelante Hispanic Achievers
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <script>

      function initMap() {
          var myLatLng = { lat: 38.207089, lng: -85.648307 };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Adelante Hispanic Achievers'
        });
      }
    </script> <!--Google Maps-->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOzao4vmN7tapJrX8dfq-2hGfnLIxA6Zs&callback=initMap">
    // Google Maps API
    // API Key registered under quinnbanet359@gmail.com
    // KEY - AIzaSyDOzao4vmN7tapJrX8dfq-2hGfnLIxA6Zs
    </script> <!--Google Maps-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mdb")
    @RenderSection("scripts", required: false)
</body>
</html>