@model AHA_Web.Models.StudentAttendence

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentAttendence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sign_in_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sign_in_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sign_Out_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sign_Out_Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
