@model IEnumerable<AHA_Web.Models.StudentAttendence>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sign_in_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sign_Out_Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sign_in_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sign_Out_Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
